---
layout: default
---
{% assign datasets_count = site.datasets | size %}
{% assign organizations_count = site.organizations | size %}

<div style="background-color:#F2F4FD; padding-top:8rem; padding-bottom:8rem;" class="mb-4 rounded-3 mx-auto">
  <div class="w-50 mx-auto">
    <h2 class="display-5 text-center fw-bold mb-3">{{ site.greeting }}</h2>
    <p class="fs-6 mb-5 text-center fw-lighter">Search within {{ datasets_count }} public archived datasets across {{ organizations_count }}
      organizations and [NUMBER] agencies, compiled by the Data Rescue Project.</p>
  </div>
  <div class="w-75 mx-auto mt-5">
        <div style="margin-left: 3rem;" class=" d-flex justify-content-start">
      <div class="px-2"><a class="" href="">Dataset</a></div>
      <div class="px-2"><a class="" href="">Organization</a></div>
    </div>
  <nav class="navbar navbar-light d-flex justify-content-center gap-3">
    <form class="form-inline w-75">
      <div class="rounded-pill p-2 border d-flex bg-white  justify-content-between">
        <div class="w-100"><input class="form-control mr-sm-2 outline-none border-0 shadow-none rounded-pill"
            type="search" placeholder="Search for a dataset or category" aria-label="Search for a dataset or category">
        </div>
        <div class=""><button class="btn btn-primary rounded-pill my-1 px-3 my-sm-0" type="submit">Search</button>
        </div>
      </div>
    </form>
    <div class="text-left text-gray-800"><a href="{{ "/datasets" | relative_url }}"
        class="text-gray-800" role="button">Or browse all datasets</a></div>
  </nav>
    </div>
</div>
</div>
</div>

<div class="container">
  <h4 class="display-6 fw-bold mb-4 mt-5 pt-5">About the Data</h4>
  <h6 style="color: #737373; line-height: 150%; margin-bottom: 1.5rem;">At vero eos et accusamus et iusto odio
    dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
    excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id
    est laborum et dolorum fuga.</h6>
  <div style="width: 400px;" class=""><img style=" margin-right: 2rem;" class="float-start"
      src="./img/homepage-hero.jpg"></div>
  <h6 style="color: #737373; line-height: 150%; margin-bottom: 1.5rem;">At vero eos et accusamus et iusto odio
    dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
    excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id
    est laborum et dolorum fuga.</h6>
  <h6 style="color: #737373; line-height: 150%; margin-bottom: 1.5rem;">At vero eos et accusamus et iusto odio
    dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
    excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id
    est laborum et dolorum fuga.</h6>
  <h6 style="color: #737373; line-height: 150%; margin-bottom: 1.5rem;">At vero eos et accusamus et iusto odio
    dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
    excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id
    est laborum et dolorum fuga.</h6>
  <h6 style="color: #737373; line-height: 150%; margin-bottom: 1.5srem;">At vero eos et accusamus et iusto odio
    dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
    excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id
    est laborum et dolorum fuga.</h6>
</div>
<!-- <div class="card-grid">
{% for category in site.dataset_categories %}
  {% if category.featured == true %}
    {% capture logo_alt %}{{ category.name }}{% if category.logo_credit and category.logo_credit != empty %} logo by {{ category.logo_credit }}{% endif %}{% endcapture %}
    <a class="card border card-grid-item hover-overlay" href="{{ site.baseurl }}/categories/{{ category.name | slugify }}" title="{{ logo_alt }}">
      {% if category.logo and category.logo != empty %}
        <img class="card-img-top" src="{{ site.baseurl }}{{ category.logo }}" alt="{{ logo_alt }}">
      {% endif %}
      {{ category.name }}
    </a>
  {% endif %}
{% endfor %}
</div> -->