<!-- general behavior -->
<script type="module" src="{{ site.baseurl }}/scripts/dist/index.js"></script>

<footer class="mt-auto">
    <div class="mt-5 pt-4 pb-4 bg-dark text-light w-auto">
        <div class="text-light ms-5 text-center me-5">
            <medium>
                You can find our GitHub repository and license here:
                <a class="text-light text-decoration-underline" href="https://github.com/datarescueproject/portal" target="_blank" rel="noopener">Repository</a> & 
                <a class="text-light text-decoration-underline" href="https://github.com/datarescueproject/portal/blob/main/LICENSE" target="_blank" rel="noopener">License</a>
            </medium>
        </div>
    </div>
</footer>